 [Unit]
 Description=Twilio/Grafana Pager bridge
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python /opt/twilio-pager/server.py
 User=grafana
 Group=grafana
 Restart=always

 [Install]
 WantedBy=multi-user.target
