[Unit]
Description=Twilio/Grafana Pager bridge
After=multi-user.target
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/twilio-pager
ExecStart=/usr/bin/python3 /opt/twilio-pager/server.py 8099
User=grafana
Group=grafana
Restart=on-failure

LimitNOFILE=10000
TimeoutStopSec=20
UMask=0027

[Install]
WantedBy=multi-user.target
